body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh; /* added for full height */
  margin: 0;
  background-color: #51e2f5;
}
  
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin-bottom: 20px;
}

#game-container {
  text-align: center;
}

#game {
  margin-bottom: 20px;
  font-size: 24px;
}

#choices {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.choice {
  font-size: 16px;
  padding: 10px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

.menu-container {
  background-color: #333;
  color: #fff;
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 10px solid;
  border-image: linear-gradient(to right, #333 0%, #FFD700 100%) 1 100%;
}


.menu-container h1 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu li {
  margin-bottom: 20px;
}

/*.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}*/

/*.menu li a:hover {
  color: #aaa;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}*/

/*.menu li a:active {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}*/

a {
  background: linear-gradient(0deg, #FFD700, #FFD700) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.underline {
  padding-bottom: 2px;
  --bg-h: 2px;
}